.SignUp {
    width: 60vw;
    height: fit-content;
    padding: 20px;
    background-color: white;
    border: 4px solid black
}

.SignUp > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 auto;
    width: fit-content;
}

.Fields {
    width: fit-content;
}

.Field {
    height: 90px;
    width: 400px;
}

.Fields > div > input {
    width: 300px;
    height: 22px;
    font-size: 16px;
}
.Title {
    height: 50px;
    width: 500px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Oswald';
    font-size: 24px;
    border-bottom: 2px solid #BBB;
}

.Button {
    width: 100px;
    height: 30px;
    font-family: 'Roboto Condensed';
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    cursor: pointer;
}

.Button:hover {
    color: white;
    background-color: black;
}

.SignUp p {
    font-size: 11px !important;
    color: red;
}

.SignUp form {
    width: 100%;
}

.Label {
    font-family: 'Roboto';
    font-size: 18px;
    width: 100%;
    text-align: left;
}

form > div {
    width: 100%;
    height: 100%;
}

@media (max-width: 900px){
    .SignUp {
        width: 700px;
        padding: 10px;
    }

    .Title {
        width: 350px;
    }
    .Field {
        width: 250px;
    }
}

@media (max-width: 600px){
    .SignUp{
         width: 350px;
    }
    .Title {
        width: 250px;
    }
    .Field {
        height: 80px;
        width: 250px;
    }
}

@media (max-width: 350px) {
    .SignUp{
        width: 270px;
   }
   .Title {
       width: 250px;
   }
   .Field {
       height: 80px;
       width: 250px;
   }
}
