@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Work+Sans:wght@200&display=swap');

.DatePicker {
    height: fit-content;
    width: 450px;
    background-color: white;
    border-radius: 10px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    z-index: 5;
}

.Month {
    margin-top: 10px;
    font-size: 22px;
    font-family: 'Montserrat';
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.Year {
    color: black;
    font-size: 13px;
    font-family: 'Open Sans';
    text-align: center;
}

.MonthLabel {
    width: 70%;
}

.AvailableDay {
    color: black;
}

.AvailableDay>div:hover {
    border: 2px solid black;
    border-radius: 100%;
    cursor: pointer;
}

table {
    width: 100%;
}

td {
    color: grey;
    width: 50px;
    height: 50px;
}

td > div {
    height: 47px;
    width: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.CalendarDaysWeek > td > div {
    font-weight: 500;
    font-family: 'Montserrat';
}

.ChevronLeft, .ChevronRight{
    height: 20px;
    width: 20px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
    cursor: pointer;
}

.ChevronLeft > svg, .ChevronRight > svg {
    width: 100%;
    height: 100%;
}

.DateSelected {
    background-color: black;
    border-radius: 100%;
    color: white;
}

.DateUnselected {
    background-color: white;
    color: black;
}

@media (max-width: 500px){
    .DatePicker {
        height: 320px;
        width: 320px;
    }
    td {
        width: 40px;
        height: 40px;
    }
    
    td > div {
        height: 37px;
        width: 37px;
    }
}

@media (max-width: 300px){
    .DatePicker {
        height: 270px;
        width: 270px;
    }
    td {
        width: 30px;
        height: 30px;
    }
    
    td > div {
        height: 27px;
        width: 27px;
    }
}