.Accommodation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.Title {
    font-size: 18px;
    font-family: 'Roboto Condensed';
    text-align: left;
}

p {
    text-align: left;
    font-family: 'Open Sans';
}

.Field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}

.InputLabel {
    font-family: 'Roboto Condensed';
    font-size: 20px;
}

.InfoHeader {
    font-family: 'Roboto Condensed';
    font-size: 20px;
    color: rgb(118, 118, 118);
    width: 100%;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 10px;
}

@media(max-width: 450px){
    .Title > h3 {
        font-size: 18px;
        margin: 0 0;
        margin-bottom: 5px;
    }
    .InfoHeader {
        font-size: 18px;
        padding-top: 10px;
    }
}