.SearchBar {
    width: 90%;
    height: 50px;
    border-radius: 32px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 100px auto;
    margin-bottom: 15px;
    border: 1px solid rgb(221, 221, 221);
}

.SearchBar > label {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 0px;
    margin-left: 5px;
}

.SearchIcon {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color:#B02E0C;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: white;
}

.SearchIcon > div{
    width: 60%;
    height: 60%;
}

.InputPlaceholder {
    font-family: 'Work Sans';
    font-size: 15px;
}

.SearchBarInput {
    border: none;
    outline: none;
    background-color: transparent;
    width: 90%;
}

@media (max-width: 300px){
    .SearchBar {
        height: 36px;
    }
    .SearchIcon {
        width: 30px;
        height: 30px;
        margin: 3px;
    }
}