.Home {
    width: 100%;
    min-height: 800px;
    height: fit-content;
    /*background-image: url(https://chairbnb123.s3.us-east-2.amazonaws.com/images/utility/greece.jpg);*/
    background-image: linear-gradient(to bottom right, #788475, #F76F8E); 
    background-image: linear-gradient(to bottom right, #20a39e, #173753); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    justify-content: center;
    position: absolute;
    overflow-y: scroll;
}

.PopularDestinations {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 10px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.PopularDestinationsLabel {
    text-align: left;
    padding: 20px;
    padding-bottom: 10px;
    box-sizing: border-box;
    font-size: 25px;
    font-family: 'Oswald';
    color: #f5f5f5;
}

.DestinationSeparator {
    width: 400px;
    border-bottom: 3px solid white;
    height: 5px;
    margin-left: 20px;
}

.PopularDestination {
    height: 400px;
    width: 295px;
    background-color: #f5f5f5;
    color: black;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 6px;
    margin: 10px;
    box-shadow : 3px 0px 20px -10px #2D2D2A, -3px 0px 20px -10px #2D2D2A, 0px 5px 5px -5px #2D2D2A !important;
}

.Name {
    width: 100%;
    font-size: 20px;
    font-family: 'Oswald';
    height: 35px;
    display: flex;
    margin: 5px;
}

.Name > div {
    display: flex;
    justify-content: left;
    align-items: flex-end;
}

.DestinationName {
    width: 80%;
    height: 100%;
    text-align: left;
    padding-left: 5px;
}

.DestinationIcon {
    width: 20%;
    height: 100%;
}

.DestinationIcon > svg {
    width: 100%;
    height: 100%;
}

.Image {
    width: 100%;
    height: 360px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 4px solid #B02E0C;
}

@media(max-width: 660px){
    .PopularDestination {
        height: 500px;
        width: calc( 100vw - 40px );
    }
    .Image {
        width: 100%;
        height: 500px;
    }
    .DestinationSeparator {
        width: 300px;
    }
}  

@media(max-width: 425px){
    .PopularDestination {
        height: 400px;
        width: calc( 100vw - 40px );
    }
    .Image {
        width: 100%;
        height: 400px;
    }
    .DestinationSeparator {
        width: 250px;
    }
} 