.ListingsPage {
    width: 100%;
    height: calc( 100% - 70px);
    margin-top: 70px;
    display: flex;
    background-color: white;
}
.Listings {
    width: 800px;
    height: calc( 100vh - 70px );
    overflow-y: auto;
}

.CloseMap {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
    background-color: white;
    height: 34px;
    width: 34px;
    border-radius: 4px;
    box-shadow: 0 0 0 2px rgba(0,0,0,.1);
}

.CloseMap > div {
    position: relative;
    width: 100%;
    height: 100%;
}

.LeftX, .RightX {
    position: absolute;
    top: 15px;
    left: 6px;
    height: 4px;
    width: 24px;
    background-color: black;
    border-radius: 5px;
}

.LeftX {
    transform: rotate(45deg);
}

.RightX {
    transform: rotate(-45deg);
}

.MapButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
}

.MapButton > div {
    height: 40px;
    width: 90px;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.MapButton > div > div > svg {
    height: 30px;
    width: 30px;
}

.MapButton > div > div {
    font-family: 'Open Sans';
}

.ReviewsIcon {
    width: 13px;
    height: 13px;
    padding-right: 10px;
    display: flex;
}

.ReviewsIcon > svg {
    width: 13px;
    height: 13px;
    color: #B02E0C;
}

.NoHomes {
    font-family: 'Roboto Condensed';
    color: rgb(118, 118, 118);
    font-size: 24px;
}

@media (min-width: 1400px){
    .Listings {
        width: 1000px;
    }
}

@media (max-width: 1120px){
    .Listings {
        width: 60%;
    }
}
@media (min-width: 900px){
    .CloseMap {
        display: none;
    }
}

@media (max-width: 900px){
    .Listings {
        width: 100%;
    }
}

@media(max-width: 690px){
    .ListingsPage{
        height: calc( 100% - 50px);
        margin-top: 50px;
    }
    .Listings {
        height: calc( 100vh - 50px );
    }
}


